<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Practice Suite">
    <listeners>
        <listener class-name="com.practicesoftwaretesting.utils.TestListener"/>
    </listeners>
    <parameter name="browser" value="chrome"/>
    <parameter name="baseUrl" value="https://practicesoftwaretesting.com/"/>
    <test name="Automation Tests">
        <classes>
            <class name="com.practicesoftwaretesting.tests.SortingTest"/>
            <class name="com.practicesoftwaretesting.tests.LoginTest"/>
            <class name="com.practicesoftwaretesting.tests.FilteringTest"/>
            <class name="com.practicesoftwaretesting.tests.RegistrationTest"/>
            <class name="com.practicesoftwaretesting.tests.CartTest"/>
            <class name="com.practicesoftwaretesting.tests.CheckoutTest"/>
        </classes>
    </test>
</suite>